In [ ]:
import sqlite3

import csv

db_name = 'my.db'


def create_sqlite_database(filename):
    """ create a database connection to an SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(filename)
        print(sqlite3.sqlite_version)
    except sqlite3.Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


def create_tables():
    sql_statements = [
        "DROP TABLE IF EXISTS Customers",
        "DROP TABLE IF EXISTS Products",
        "DROP TABLE IF EXISTS OrderDetails",
        "DROP TABLE IF EXISTS Orders",
        "DROP TABLE IF EXISTS Categories",
        "DROP TABLE IF EXISTS Employees",
        "DROP TABLE IF EXISTS Shippers",
        "DROP TABLE IF EXISTS Suppliers",
        """
        CREATE TABLE IF NOT EXISTS Customers (
                CustomerID INTEGER PRIMARY KEY, 
                CustomerName TEXT , 
                ContactName TEXT, 
                Address TEXT,
                City TEXT,
                PostalCode TEXT,
                Country TEXT
        );""",
        """
        CREATE TABLE IF NOT EXISTS Products (
                ProductID INTEGER PRIMARY KEY, 
                ProductName TEXT , 
                SupplierID INTEGER, 
                CategoryID INTEGER,
                Unit TEXT,
                Price FLOAT
        );""",
        """
        CREATE TABLE IF NOT EXISTS OrderDetails (
                OrderDetailID INTEGER PRIMARY KEY, 
                OrderID INTEGER, 
                ProductID INTEGER, 
                Quantity INTEGER
        );""",
        """
        CREATE TABLE IF NOT EXISTS Orders (
                OrderID INTEGER PRIMARY KEY, 
                CustomerID INTEGER, 
                EmployeeID INTEGER , 
                OrderDate DATETIME, 
                ShipperID INTEGER
        );""",
        """
        CREATE TABLE IF NOT EXISTS Categories (
                CategoryID INTEGER PRIMARY KEY, 
                CategoryName TEXT, 
                Description TEXT
        );""",
        """
        CREATE TABLE IF NOT EXISTS Employees (
                EmployeeID INTEGER PRIMARY KEY, 
                LastName TEXT, 
                FirstName TEXT, 
                BirthDate TEXT, 
                Photo TEXT, 
                Notes TEXT
        );""",
        """
        CREATE TABLE IF NOT EXISTS Shippers (
                ShipperID INTEGER PRIMARY KEY, 
                ShipperName TEXT, 
                Phone TEXT
        );""",
        """
        CREATE TABLE IF NOT EXISTS Suppliers (
                SupplierID INTEGER PRIMARY KEY, 
                SupplierName TEXT, 
                ContactName TEXT, 
                Address TEXT, 
                City TEXT, 
                PostalCode TEXT,
                Country TEXT,
                Phone TEXT
        );"""]

    # create a database connection
    try:
        with sqlite3.connect(db_name) as conn:
            cursor = conn.cursor()
            for statement in sql_statements:
                cursor.execute(statement)
            conn.commit()
    except sqlite3.Error as e:
        print(e)


def main():
    try:
        with sqlite3.connect(db_name) as con:
            #csv 파일 읽기 및 데이터베이스에 삽입
            with open('./csv/customers.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for customer in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO Customers(CustomerName,ContactName,Address,City,PostalCode,Country) VALUES(?,?,?,?,?,?) ''',
                                customer[1:])
                #변경사항 저장 및 연결 종료
                con.commit()
        with sqlite3.connect(db_name) as con:
            with open('./csv/products.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for product in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO Products(ProductName,SupplierID,CategoryID,Unit,Price) VALUES(?,?,?,?,?) ''',
                                product[1:])
                #변경사항 저장 및 연결 종료
                con.commit()
        with sqlite3.connect(db_name) as con:
            with open('./csv/orderDetails.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for order_detail in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO OrderDetails(OrderID,ProductID,Quantity) VALUES(?,?,?) ''', order_detail[1:])
                #변경사항 저장 및 연결 종료
                con.commit()
        with sqlite3.connect(db_name) as con:
            with open('./csv/orders.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for order in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO Orders(OrderID,CustomerID,EmployeeID,OrderDate,ShipperID) VALUES(?,?,?,?,?) ''', order)
                #변경사항 저장 및 연결 종료
                con.commit()
        with sqlite3.connect(db_name) as con:
            with open('./csv/categories.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for category in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO Categories(CategoryName,Description) VALUES(?,?) ''',
                                category[1:])
                #변경사항 저장 및 연결 종료
                con.commit()
        with sqlite3.connect(db_name) as con:
            with open('./csv/employees.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for employee in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO Employees(LastName,FirstName,BirthDate,Photo,Notes) VALUES(?,?,?,?,?) ''',
                                employee[1:])
                #변경사항 저장 및 연결 종료
                con.commit()
        with sqlite3.connect(db_name) as con:
            with open('./csv/shippers.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for shipper in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO Shippers(ShipperName,Phone) VALUES(?,?) ''',
                                shipper[1:])
                #변경사항 저장 및 연결 종료
                con.commit()
        with sqlite3.connect(db_name) as con:
            with open('./csv/suppliers.csv', 'r') as file:
                csv_data = csv.reader(file)
                next(csv_data)  # 첫번째 행은 헤더이므로 건너뜀
                for supplier in csv_data:
                    cur = con.cursor()
                    cur.execute('''
                    INSERT INTO Suppliers(SupplierName,ContactName,Address,City,PostalCode,Country,Phone) VALUES(?,?,?,?,?,?,?) ''',
                                supplier[1:])
                #변경사항 저장 및 연결 종료
                con.commit()
    except sqlite3.Error as e:
        print(e)


if __name__ == '__main__':
    create_sqlite_database(db_name)
    create_tables()
    main()

In [ ]:
def select_query(query):
    try:
        with sqlite3.connect(db_name) as conn:
            cur = conn.cursor()
            cur.execute(query)
            row = cur.fetchall()
            return row
    except sqlite3.Error as e:
        print(e)
        return None

In [ ]:

print(select_query('SELECT CustomerName, City FROM Customers;'))

In [ ]:
print(select_query('SELECT * FROM Customers;'))

In [ ]:
print(select_query('SELECT DISTINCT Country FROM Customers;'))

In [ ]:
print(select_query('SELECT COUNT(DISTINCT Country) FROM Customers;'))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country='Mexico';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerID=1;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerID > 80;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
ORDER BY Price;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
ORDER BY Price DESC;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
ORDER BY ProductName;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
ORDER BY ProductName DESC;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
ORDER BY Country, CustomerName;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
ORDER BY Country ASC, CustomerName DESC;
"""))

In [ ]:
print(select_query("""
SELECT *
FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country = 'Germany'
AND City = 'Berlin'
AND PostalCode > 12000;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';
"""))

In [ ]:
print(select_query("""
SELECT *
FROM Customers
WHERE Country = 'Germany' OR Country = 'Spain';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE City = 'Berlin' OR CustomerName LIKE 'G%' OR Country = 'Norway';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE NOT Country = 'Spain';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName NOT LIKE 'A%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerID NOT BETWEEN 10 AND 60;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE City NOT IN ('Paris', 'London');
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE NOT CustomerID > 50;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE NOT CustomerId < 50;
"""))

In [ ]:
with sqlite3.connect(db_name) as conn:
    cur = conn.cursor()
    cur.execute("""
    INSERT INTO Customers (CustomerName, City, Country)
            VALUES ('Cardinal', 'Stavanger', 'Norway');
    """)
    cur.execute("""
SELECT * FROM Customers ORDER BY CustomerID DESC
LIMIT 1;
""")
    print(cur.fetchall())
    conn.rollback()

In [ ]:

with sqlite3.connect(db_name) as conn:
    cur = conn.cursor()
    cur.execute("""
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES
('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'),
('Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway'),
('Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK');
    """)
    cur.execute("""
SELECT * FROM Customers ORDER BY CustomerID DESC
LIMIT 5;
""")
    print(cur.fetchall())
    conn.rollback()

In [ ]:
print(select_query("""
SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NULL;
"""))

In [ ]:
print(select_query("""
SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NOT NULL;
"""))

In [ ]:
with sqlite3.connect(db_name) as conn:
    cur = conn.cursor()
    cur.execute("""
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;
""")
    cur.execute("""
SELECT * FROM Customers WHERE CustomerID =1;
""")
    print(cur.fetchall())
    conn.rollback()

In [ ]:
with sqlite3.connect(db_name) as conn:
    cur = conn.cursor()
    cur.execute("""
UPDATE Customers
SET ContactName='Juan'
WHERE Country='Mexico';
""")
    cur.execute("""
SELECT * FROM Customers WHERE Country='Mexico';
""")
    print(cur.fetchall())
    conn.rollback()

In [ ]:
with sqlite3.connect(db_name) as conn:
    cur = conn.cursor()
    cur.execute("""
UPDATE Customers
SET ContactName='Juan'
""")
    cur.execute("""
SELECT * FROM Customers WHERE ContactName!='Juan';
""")
    print(cur.fetchall())
    conn.rollback()

In [ ]:
with sqlite3.connect(db_name) as conn:
    cur = conn.cursor()
    cur.execute("""
SELECT * FROM Customers WHERE CustomerName='Alfreds Futterkiste';
""")
    print(cur.fetchall())
    cur.execute("""
DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';
""")
    cur.execute("""
SELECT * FROM Customers WHERE CustomerName='Alfreds Futterkiste';
""")
    print(cur.fetchall())
    conn.rollback()

In [ ]:
with sqlite3.connect(db_name) as conn:
    cur = conn.cursor()
    cur.execute("""
SELECT * FROM Customers;
""")
    print(cur.fetchall())
    cur.execute("""
DELETE FROM Customers;
""")
    cur.execute("""
SELECT * FROM Customers;
""")
    print(cur.fetchall())
    conn.rollback()

In [ ]:
# with sqlite3.connect(db_name) as conn:
#     cur = conn.cursor()
#     cur.execute("""
# DROP TABLE Customers;
# """)
#     cur.execute("""
# SELECT * FROM Customers;
# """)
#     print(cur.fetchall())
#     conn.rollback()

In [ ]:
# print(select_query("""
# SELECT TOP 3 * FROM Customers;
# """))
# TOP command does not work in sqlite

In [ ]:
print(select_query("""
SELECT * FROM Customers
LIMIT 3;
"""))

In [ ]:
# print(select_query("""
# SELECT * FROM Customers
# FETCH FIRST 3 ROWS ONLY;
# """))

In [ ]:
print(select_query("""
SELECT MIN(Price)
FROM Products;
"""))

In [ ]:
print(select_query("""
SELECT MAX(Price)
FROM Products;
"""))

In [ ]:
print(select_query("""
SELECT MIN(Price) AS SmallestPrice
FROM Products;
"""))

In [ ]:
print(select_query("""
SELECT MIN(Price) AS SmallestPrice, CategoryID
FROM Products
GROUP BY CategoryID;
"""))

In [ ]:
print(select_query("""
SELECT COUNT(*)
FROM Products;
"""))

In [ ]:
print(select_query("""
SELECT COUNT(ProductID)
FROM Products
WHERE Price > 20;
"""))

In [ ]:
print(select_query("""
SELECT COUNT(DISTINCT Price)
FROM Products;
"""))

In [ ]:
print(select_query("""
SELECT COUNT(*) AS [Number of records], CategoryID
FROM Products
GROUP BY CategoryID;
"""))

In [ ]:
print(select_query("""
SELECT SUM(Quantity)
FROM OrderDetails;
"""))

In [ ]:
print(select_query("""
SELECT SUM(Quantity)
FROM OrderDetails
WHERE ProductId = 11;
"""))

In [ ]:
print(select_query("""
SELECT SUM(Quantity) AS total
FROM OrderDetails;
"""))

In [ ]:
print(select_query("""
SELECT OrderID, SUM(Quantity) AS [Total Quantity]
FROM OrderDetails
GROUP BY OrderID;
"""))

In [ ]:
print(select_query("""
SELECT SUM(Quantity * 10)
FROM OrderDetails;
"""))

In [ ]:
print(select_query("""
SELECT SUM(Price * Quantity)
FROM OrderDetails
LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;
"""))

In [ ]:
print(select_query("""
SELECT AVG(Price)
FROM Products;
"""))

In [ ]:
print(select_query("""
SELECT AVG(Price)
FROM Products
WHERE CategoryID = 1;
"""))

In [ ]:
print(select_query("""
SELECT AVG(Price) AS [average price]
FROM Products;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
WHERE price > (SELECT AVG(price) FROM Products);
"""))

In [ ]:
print(select_query("""
SELECT AVG(Price) AS AveragePrice, CategoryID
FROM Products
GROUP BY CategoryID;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE city LIKE 'L_nd__';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE city LIKE '%L%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE 'La%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE '%a';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE 'b%s';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE '%es';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE '%mer%';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE City LIKE '_ondon';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE City LIKE 'L___on';
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerName LIKE '[bsp]%';
"""))
#Does not work in sqlite

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country IN ('Germany', 'France', 'UK');
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE Country NOT IN ('Germany', 'France', 'UK');
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerID IN (SELECT CustomerID FROM Orders);
"""))

In [ ]:
print(select_query("""
SELECT * FROM Customers
WHERE CustomerID NOT IN (SELECT CustomerID FROM Orders);
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20
AND CategoryID IN (1,2,3);
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Products
WHERE ProductName BETWEEN "Carnarvon Tigers" AND "Chef Anton's Cajun Seasoning"
ORDER BY ProductName;
"""))

In [ ]:
print(select_query("""
SELECT * FROM Orders
WHERE OrderDate BETWEEN '1996-07-01' AND '1996-07-31';
"""))

In [ ]:
print(select_query("""
SELECT CustomerName, Address + ', ' + PostalCode + ' ' + City + ', ' + Country AS Address
FROM Customers;
"""))
#Does not work

In [ ]:
print(select_query("""
SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;
"""))

In [ ]:
print(select_query("""
SELECT ProductID, ProductName, CategoryName
FROM Products
INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;
"""))

In [ ]:
print(select_query("""
SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName
FROM ((Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)
INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);
"""))

In [ ]:
print(select_query("""
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
ORDER BY Customers.CustomerName;
"""))

In [ ]:
print(select_query("""
SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;
"""))

In [ ]:
print(select_query("""
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;
"""))

In [ ]:
print(select_query("""
SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City
ORDER BY A.City;
"""))

In [ ]:
print(select_query("""
SELECT City FROM Customers
UNION
SELECT City FROM Suppliers
ORDER BY City;
"""))

In [ ]:
print(select_query("""
SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION ALL
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;
"""))

In [ ]:
print(select_query("""
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country;
"""))

In [ ]:
print(select_query("""
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;
"""))

In [ ]:
print(select_query("""
SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
GROUP BY ShipperName;
"""))

In [ ]:
print(select_query("""
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5;
"""))

In [ ]:
print(select_query("""
SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM Orders
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
WHERE LastName = 'Davolio' OR LastName = 'Fuller'
GROUP BY LastName
HAVING COUNT(Orders.OrderID) > 25;
"""))

In [ ]:
print(select_query("""
SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);
"""))

In [ ]:
print(select_query("""
SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price = 22);
"""))

In [ ]:
print(select_query("""
SELECT ProductName
FROM Products
WHERE ProductID = ANY
  (SELECT ProductID
  FROM OrderDetails
  WHERE Quantity = 10);
"""))

In [ ]:
print(select_query("""
SELECT ALL ProductName
FROM Products
WHERE TRUE;
"""))

In [ ]:
print(select_query("""
SELECT * INTO CustomersBackup2017
FROM Customers;
"""))
#Does not work

In [ ]:
print(select_query("""
SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN 'The quantity is greater than 30'
    WHEN Quantity = 30 THEN 'The quantity is 30'
    ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails;
"""))

near "Order": syntax error
None